$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "chat-widget";

body {
  background-color: #3f395f;
}

.scene, #chat-widget .container .scene {
  display: none;
}

.jumbotron {
  background-color: inherit;
}

.container.main{
  padding-top: 50px;

  .iphone {
    background: url('/images/iphone.png');
    background-size: 100%;
    width: 300px;
    height: 574px;
    position: relative;
    .screen {
      width: 243px;
      margin-top: 73px;
      margin-left: 29px;
      position: absolute;
      height: 428px;
      .header {
        width: 100%;
        height: 40px;
        background-color: #885f99;
        h1 {
          margin: 0;
          font-size: 20px;
          line-height: 35px;
        }
      }

      .messages {
        .triangle-right {
          position:relative;
          padding:15px;
          margin:1em 0 2em;
          color:#000;
          background:#075698; /* default background for browsers without gradient support */
          /* css3 */
          background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
          background:-moz-linear-gradient(#2e88c4, #075698);
          background:-o-linear-gradient(#2e88c4, #075698);
          background:linear-gradient(#2e88c4, #075698);
          -webkit-border-radius:10px;
          -moz-border-radius:10px;
          border-radius:10px;
          width: 150px;
          font-size: 12px;
        }
        .triangle-right:after {
          content:"";
          position:absolute;
          bottom:-20px; /* value = - border-top-width - border-bottom-width */
          left:50px; /* controls horizontal position */
          border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
          border-style:solid;
          border-color:#d8eaf6 transparent;
          /* reduce the damage in FF3.0 */
          display:block;
          width:0;
        }

        .triangle-right.left {
          margin-left:15px;
          background:#eeeeee;
        }

        .triangle-right.right {
          margin-right:15px;
          background:#d8eaf6;
          margin-left: 75px;
        }
        .triangle-right.left:after {
          top:2px;
          left:-15px; /* value = - border-left-width - border-right-width */
          bottom:auto;
          border-width:15px 40px 0 0; /* vary these values to change the angle of the vertex */
          border-color:transparent #eeeeee;
        }

        /* Variant : right
        ------------------------------------------ */

        .triangle-right.right:after {
          top:2px;
          right:-15px; /* value = - border-left-width - border-right-width */
          bottom:auto;
          left:auto;
          border-width:15px 0 0 40px; /* vary these values to change the angle of the vertex */
          border-color:transparent #d8eaf6 ;
        }
      }
    }
  }

  .jumbotron {
    padding-left: 0;
    padding-right: 0;
  }

  h1, h3 {
    color: #ffffff;
    text-align: center;

    .highlight{
      color: #f29155;
    }

  }

  h3{
    font-weight: normal;
    line-height: 1.5;
  }

  form{
    text-align: center;
    margin-top: 50px;
  }
}

.btn-primary{
  background: #E23764;
  border-color: #E23764;
  color: #fff;
}

.btn-primary:hover{
  background: transparent;
  border-color: #E23764;
  color: #fff;
}

.money{
  font-size: 500%;
  color: #E23764;
}

ul{
  list-style: none;
}

.navbar {
  margin-bottom: 0;
  background-color: #3f395f;
  border: none;
  border-radius: 0;
  .navbar-text, a, a:hover, .navbar-link {
    color: #ffffff !important;
  }
}

.features{
  margin-top: 50px;

  .col-md-6{
    padding: 15px;

    .icon {
      font-size: 48px;
    }

    h4 {
      font-weight: normal;
      color: grey;
      font-size: 16px;
      padding: 10px;
    }
  }

}

.pricing {
  background: #2CCAD1;
  h1, h2, p, ul, li {
    color: #ffffff;
  }
  ul {
    padding: 0;
  }
}


.form-area{
  background-color: #ffffff;
  .big-form {

    margin-top: 50px;
    margin-bottom: 50px;

    h1 {
      margin-bottom: 25px;
    }

    .demo-btn {
      &:hover {
        color: #E23764;
      }
    }
  }
}

.picture {
  img {
    width: 90%;
  }
}

@media (min-width: 550px) {
  .picture {
    img {
      width: 100%;
    }
  }
}


