$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  background-color: #f8f8f8;
}


.jumbotron {
  background-color: inherit;
}

.front {
  background-color: #3f395f;
  .container{
    padding-top: 100px;

    .jumbotron {

      h1, h3 {
        color: #ffffff;
        text-align: center;

        .highlight{
          color: #f29155;
        }

      }

      h3{
        font-weight: normal;
        line-height: 1.5;
      }

      form{
        text-align: center;
        margin-top: 50px;
      }
    }
  }
}

.btn-primary{
  background: #E23764;
  border-color: #E23764;
  color: #fff;
}

.btn-primary:hover{
  background: transparent;
  border-color: #E23764;
  color: #fff;
}

.money{
  font-size: 500%;
  color: #E23764;
}

ul{
  list-style: none;
}

.navbar {
  margin-bottom: 0;
  background-color: #000000;
  border: none;
  border-radius: 0;
  .navbar-text, a, a:hover, .navbar-link {
    color: #ffffff;
  }
}

.features{
  margin-top: 50px;

  .col-md-6{
    padding: 50px;
    h2 {
      font-weight: normal;
      color: grey;
    }
  }

}

.pricing {
  background: #2CCAD1;
  h1, h2, p, ul, li {
    color: #ffffff;
  }
}


.form-area{
  background-color: #ffffff;
  .big-form {

    margin-top: 50px;
    margin-bottom: 50px;

    h1 {
      margin-bottom: 25px;
    }

    .demo-btn {
      &:hover {
        color: #E23764;
      }
    }
  }
}



